
img {
    width: 100%;
    height:auto;
}

.ss {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.s {
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

.s1 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 700;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    color: whitesmoke;
    padding-left: 10px;
    padding-bottom: 15px;
}

.h1 {
    animation: slide-in 2s ease-in-out; 
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

h3 {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.h4 {
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    float: left;
    padding-left: 257px;
}

body {
    background-color: rgb(206, 40, 51) ;
    padding: 20px;
    padding-left: 30px;
    cursor: url('images-folder/Untitled-15.svg'), auto;
}

.text {
    width: 55%;
    font-size: 60px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-right: 40px;
}

.t1 {
    font-size: 30px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    width: 55%;
    float: right;
    padding-right: 50px;
    padding-top: 30px;
}

.t2 {
    font-size: 40px;
    font-family: "forma-djr-display", sans-serif;
    text-decoration: underline;
}

.t3 {
    font-size: 40px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 450;
}

.t4 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 25px;
}

.t5 {
    width: 55%;
    font-size: 20px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-right: 50px;
    padding-top: 15px;
}

.t6 {
    font-size: 30px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.div1 {
    padding-top: 10px;
}

p {
    font-family:Helvetica;
}

.my-image {
    width: 100%;
  }

.hover-text p {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    float: right;
    color: white;
    transition: color 1.0s; 
    transition: font-size 1.0s;
}

.hover-text p:hover {
    font-size: 50px;
    color: black; 
    cursor: pointer; 
}


.wrapper {
    height: 600px;
    width: 500px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fff;
    }
    .wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
    }

    .wrapper img:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
    }




