.topbar {
    background-color:#b92826;
    overflow: hidden;
font-family: "etna-x-condensed", serif;
font-weight: 400;
font-style: normal;
    color: antiquewhite;
    font-size: 85px;
    padding-top: 0px;
    padding-left: 20px;
    width: 100%;
    height: 123px;
    position: fixed;
    z-index: 1;
}

.a1 {
  position: fixed;
 padding-left: 1410px;
 padding-top: 30px;
  z-index: 4;
  font-size: 45px;
font-family: "etna-x-condensed", serif;
font-weight: 400;
font-style: normal;
  color: antiquewhite;
}

.a1:hover {
    color: white;
    scale: 1.01;
    transition: 0.4s;
}

@media (min-width: 500px and max-width: 1400px) {

}

@media (max-width: 800px) {
    .h1 {
      font-size: 40px;
      width: 50%;
    }
  }

.body {
    background-color: antiquewhite;
}

.rate i, .rate i:hover ~ i {
  color: gray;
  transition: color 200ms,
              text-shadow 200ms;

  transition-delay: 0;
}

.rate:hover i {
  color: rgb(219, 48, 43);
}

.rate:hover i:nth-child(2) {
  transition-delay: 30ms;
}

.rate:hover i:nth-child(3) {
  transition-delay: 60ms;
}

.rate:hover i:nth-child(4) {
  transition-delay: 90ms;
}

.rate:hover i:nth-child(5) {
  transition-delay: 120ms;
}

.rate i {
  cursor: pointer;
  font-style: normal;
}

span {
  display: flex;
  font-size: 48px;
  height: 100%;
 padding-bottom: 10px;
}

.b1 {
    float: left;
    padding-left: 620px;
}

html {
  height: 100%;
}


h1 {
    font-family: "roc-grotesk", sans-serif;
font-weight: 500;
font-style: normal;  
    font-size: 52px;
    color: #b92826;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 130PX;
}

.h1 {
    animation: slide-in 2s ease-in-out; 
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.h3 {
    font-size: 28px;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;  
    color: black;
    padding-left: 10px;
}

.h2 {
    font-size: 70px;
    color: #b92826;
    padding-left: 30px;
    font-family: "etna-x-condensed", serif;
font-weight: 400;
font-style: normal;
}

.h21 {
    font-size: 70px;
    color: #b92826;
    padding-left: 30px;
    font-family: "etna-x-condensed", serif;
font-weight: 400;
font-style: normal;
float: right;
padding-top: 70px;
}

.p1 {
    font-size: 30px;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;  
    color: black;
    padding-left: 30px;
}

.p11 {
    font-size: 30px;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;  
    color: black;
    padding-left: 30px;
    width: 50%;
    float: left;
}

.img {
    height: 450px;
    padding-left: 67px;
    float: left;
  width: 50%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    align-items: center;
  }