body {
    background-color: rgb(183, 171, 138);
}

h3 {
    font-family: Arial;
    font-size: 20px;
    padding-top: 15px;
}

pre {
  
}

h1 {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 50px;
    font-family: Arial

}

.underlined-text {
    text-decoration: underline;
  }

h2 {
    font-size: 30px;
    font-family: sans-serif;
}

marquee {
    font-family: Arial;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 10px;

}

h4 {
    font-size: 20px;
    font-family: Arial;
    position: absolute; 
    top: 25px;
right: 15px;
}


p {
    color: black;
    font-family: sans-serif;
  }

.blue-text {
 color: rgb(0, 0, 255);
}

.container {
    background-color: gray;
    text-align: center;
    padding: 25px;
    margin: 10px;
}

div {
    padding-top: 5px;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-left: 10px;
}

label {
    display: block;
    font-family: Arial;
  }

  input {
    background-color: white;
  }

  button {
    font-family: Arial;
  }
